#sidebar_home h3.widget_title {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background: #00b5f8;
	text-transform: uppercase;
	padding: 7px 10px 7px 10px;
	margin-top: 14px;
}

#sidebar_home .widget_content {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	background: #E5E5E5;
	padding: 15px 15px 25px 15px;
	position: relative;
	bottom: 14px;
    margin-top: 14px;
}

#sidebar_home .widget_content h3{
    font-size: 1.2em;
    font-weight: bold;
}
