@charset "utf-8";
/* CSS Document */

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-decoration:none;
}
img { -ms-interpolation-mode: bicubic; }

/* IE6 Hover fix*/
a:hover {background-position: 0 0;}

/* General Styles */
body	{ background: #e5e5e5 url(../images/background.jpg); background-repeat:no-repeat; background-position:top center; padding-bottom:60px;}
#wrapper	{ width:960px; margin:0 auto;  }
.clear	{ clear:both; }
.clearfix:after	{ content: "."; visibility: hidden; display: block; height: 0px; clear: both; }

/* Global Typography + "H" Headings*/
body	{ font-family: Arial, Helvetica, sans-serif; color:#666; font-size:13px; line-height:20px;}

/* Header */
#border_top	{background:url(../images/border_top.gif); width:960px; height:40px; background-repeat:no-repeat;}
#header	{width:960px; }
#logo	{float:left; margin:20px 0 30px 20px; display:inline;}
#header_contacts	{ float:right; margin:20px 20px 30px 0; display:inline; text-align:right; color:#818181; font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; font-size:13px; }

/* Content */
#container {width:920px; background:#FFF; padding:0px 20px 10px 20px;}

/* Top Panel - Here is Navigation and search box*/
#toppanel	{width:920px;}

/* Navigation in Top Panel*/
#navigation	{ float: left; position:relative; z-index:99;}
#navigation ul	{ font-weight: bold; font-size:14px; text-transform:uppercase; list-style: none; }
#navigation li	{ position:relative; float: left;}
#navigation li a	{color: #666; text-decoration: none; float: left; padding:15px 15px 15px 15px; letter-spacing:0.6px; }
#navigation li a.main_category:hover	{ color: #FFF;}
#navigation .active	{ background: url(../images/navigation_active.gif); background-position:top center; background-position:0px 10px; background-repeat:no-repeat;}
#navigation li.active a	{color:#FFF;}
#navigation ul li ul	{ position:absolute; top:50px; left:0px; display:none;	list-style-type: none; list-style-image:none; list-style-position:outside; width:230px; }
#navigation ul li ul li a	{ color:#666;	padding: 15px 0 15px 36px; width:194px; }
#navigation li a.odd	{ background:#EEE url(../images/navigation_dot.gif);	background-repeat:no-repeat; background-position:18px 23px; text-transform:uppercase; color:#666; }
#navigation li a.even	{ background:#E5E5E5 url(../images/navigation_dot.gif);	background-repeat:no-repeat; background-position:18px 23px; color:#666;}
#navigation li a.odd:hover, #navigation li a.even:hover	{ background:#FFF url(../images/navigation_dot.gif); color:#666; background-repeat:no-repeat; background-position:18px 23px;	}

/* Search in Top Panel*/
#search	{float:right; height: 30px; margin:10px 0 0 0; }
#search input.field {font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;background: #808080 url(../images/search_icon.png); background-position:top right; background-repeat:no-repeat; width: 160px; padding:7px; outline: none; font-size: 13px; color: #FFF;	border: none; z-index: 1; height:16px; float:left; padding-right:30px;}
#search input.field:focus {background:#737373 url(../images/search_icon.png); background-position:top right; background-repeat:no-repeat;}
#search input.submit {width:70px; height:30px; background: #00b5f8;	color:#FFF;	font-weight:bold; float:left; border:none; font-family: Arial, Helvetica, sans-serif; font-size: 13px; cursor:pointer; margin:0 0 0 1px;}

/* Featured Gallery on Homepage*/
#featured_home	{ width:920px; position:relative;  }
#featured_home .bigimg { width:920px; height:350px; margin:0 0 10px 0;}
#featured_home .bigimg img	{  float:left;}
#featured_home .bigimg .post_info_holder	{ position:absolute; top:210px; right:0px;}
#featured_home .bigimg .post_category a	{background-image:url(../images/transparent_black_80.png);  font-size:15px; font-weight:bold; color:#00b5f8; letter-spacing:-0.5px; padding:3px 15px 3px 15px; float:right; display:inline; text-transform:uppercase; margin:0 0 2px 0; }
#featured_home .bigimg .post_name a:hover	{color:#00b5f8;}
#featured_home .bigimg .post_name a	{background:url(../images/transparent_black_80.png);  font-size:22px; font-weight:bold; color:#FFF; letter-spacing:-0.4px; padding:10px 15px 10px 15px; float:right; display:inline;clear:both;}
#featured_home .slider_tit, .slider_desc, .slider_img	{display:none; visibility:hidden; }
#featured_home  img.slider_img	{display:none; visibility:hidden; }
#featured_home .slider	{ width:920px; height:100px; }
#featured_home .slider .minus, .plus	{ position: relative; background:#00b5f8; width:50px; height:100px; cursor: pointer; }
#featured_home .slider .minus	{ float:left; background-position:center center; background-repeat:no-repeat;}
#featured_home .slider .minus img.round	{margin:37px 12px 37px 12px; width:30px; height:30px;}
#featured_home .slider .minus img.sign	{top:43px; left: 18px; position:absolute;}
#featured_home .slider .plus	{ float:right; background-position:center center; background-repeat:no-repeat;}
#featured_home .slider .plus img.round	{margin:37px 12px 37px 12px; width:30px; height:30px;}
#featured_home .slider .plus img.sign	{top:43px; left: 18px; position:absolute;}
#featured_home .slider .thumbs	{ width:800px; height:100px; margin:0 0 0 10px; float:left; overflow:hidden;  }
#featured_home .slider .thumbs img	{ margin:0 10px 0 0; display:block; float:left; cursor: pointer; display:inline;}
#featured_home ul {text-decoration:none; list-style: none; }
#featured_home li {float:left; } 
#featured_home .slider_content{	width:900px;}

/* Two Message Buttons on Homepage*/
#message_buttons	{width:920px; height:50px; clear:both; margin:10px 0 10px 0; float:left;}
#message_buttons .button1	{float:left;}
#message_buttons .button1 a	{width:510px; height:50px; display:block; background:#666 url(../images/people_icon.jpg); background-repeat:no-repeat; background-position: 0px 0px; font-size:22px; font-weight:bold; line-height:50px; padding:0 0 0 70px; color:#FFF; letter-spacing:-0.6px; overflow:hidden; }
#message_buttons .button1 a:hover	{background-position: 0px -50px;}
#message_buttons .button2	{float:right;}
#message_buttons .button2 a	{width:255px; height:50px; display:block; background:#666 url(../images/camera_icon.png); background-repeat:no-repeat; background-position: 20px 10px; font-size:22px; font-weight:bold; line-height:50px; padding:0 0 0 75px; color:#FFF; letter-spacing:-0.6px; overflow:hidden;}
#message_buttons .button2 a:hover	{ background:#00b5f8 url(../images/camera_icon.png); background-repeat:no-repeat; background-position: 20px 10px; }

/* Main Content */
#content_wrap	{width:920px; float:left; clear:both; margin:0 0 0 0;}

/* Entries */
#inner_content	{width:580px; float:left;}
#inner_content .entry	{float:left; width:560px; padding:10px; background:#E5E5E5; position:relative; margin:0 0 10px 0; }
#inner_content .entry .entry_content	{margin:5px 10px 10px 10px;}
#inner_content .entry .entry_content p	{font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;}
#inner_content .entry img	{}	
#inner_content .entry .title_holder	{width:530px; margin:10px 10px 0 10px; color:#00b5f8; }
#inner_content .entry .title_holder h1	{ font-size:28px; letter-spacing:-1px; font-weight:bold; }
#inner_content .entry .title_holder	h3 a	{text-decoration:none; font-weight:bold; color:#00b5f8; }
#inner_content .entry .title_holder	h3 a:hover	{text-decoration:underline;}
#inner_content .entry .title_holder	h3	{margin:0 0 0 0; font-size:11px;}
#inner_content .entry a.title 	{color:#383838; line-height:30px;position:relative;  }
#inner_content .entry a.title:hover	{ background:#00b5f8; color:#FFF;}
#inner_content .entry a.comment_counter  { position:absolute; width:23px; height:21px; background: url(../images/comment_counter.gif); background-repeat:no-repeat; text-align:center; text-decoration:none;color:#FFF; font-size:15px; font-weight:bold; margin:4px 0 0px 10px; line-height:17px; }
#inner_content .entry a.comment_counter:hover	{ background-position:0 -21px; color:#00b5f8;}

/* Entries - Post Meta Date */
#inner_content .date	{background: url(../images/transparent_black_80.png); color:#FFF; width:100px; height:50px; font-weight:bold; position:absolute; right:10px; top:20px; }
#inner_content .date .date_holder	{margin:10px 9px 0 0;}
#inner_content .date span.day	{display: block; float: right; line-height: 28px; font-size: 38px; letter-spacing:-2px;}
#inner_content .date span.month	{width: 40px; display: block; float: right;	font-size: 16px; line-height: 14px;	padding-left: 2px; text-align: center; text-transform: uppercase; }
#inner_content .date span.year	{font-size:16px; width: 40px; display: block; }

/* WP Page-Navi (plugin "WP-PageNavi" by Lester Chan must be installed first)*/
.wp-pagenavi	{font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; width:540px; height:25px; background:#E5E5E5; float:left; position:relative; padding:20px 20px 15px 20px; }
.wp-pagenavi a, .wp-pagenavi a:link { padding: 7px 11px 7px 11px; text-decoration: none; color: #FFF; font-weight:bold; background:#808080;}
.wp-pagenavi a:visited { text-decoration: none; color: #FFF; font-weight:bold; background:#808080;}
.wp-pagenavi a:hover { color: #FFF; background-color: #00b5f8;}
.wp-pagenavi a:active {	text-decoration: none; color: #FFF; background-color: #00b5f8;}
.wp-pagenavi span.pages { padding:0 5px 0 0; color: #808080; float:right;}
.wp-pagenavi span.current {padding: 7px 11px 7px 11px; font-weight: bold; color: #FFF; background-color: #00b5f8;}
.wp-pagenavi span.extend {  color: #808080;}

/* Sidebar on Homepage */
#sidebar_home	{width:330px; float:right; }
#sidebar_home .widget	{width:330px; margin:0 0 10px 0; }
#sidebar_home h3.widget_title	{font-size:14px; font-weight:bold; color:#FFF; background:#00b5f8; text-transform:uppercase; padding:7px 10px 7px 10px;}
#sidebar_home .widget_content	{font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; background:#E5E5E5; padding:15px 15px 25px 15px;}
#sidebar_home ul.widget_ul	{list-style: square; padding:0 20px 0 20px; color:#666;}
#sidebar_home ul.widget_ul li	{padding:5px 10px 5px 10px;}
#sidebar_home ul.widget_ul a	{text-decoration:none; margin-left:-10px; color:#666; padding:5px 10px 5px 10px; display:inline; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;}
#sidebar_home ul.widget_ul a:hover	{ background:#00b5f8; color:#FFF;}

/* Footer */
#footer	{font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; width:960px; background:#808080 url(../images/footer_top.jpg); background-repeat:repeat-x; }
#footer #footer_left	{float:left; margin:25px 0 25px 30px; display:inline; color:#FFF;  }
#footer #footer_right	{float:right; margin:25px 30px 25px 0; display:inline; text-align:right;  }
#footer #footer_bottom	{width:960px; height:20px; float:left; background:#E5E5E5 url(../images/footer_bottom_border.gif); background-repeat:no-repeat; }

/* Contact Form */
form.contact_form	{margin:25px 0 30px 0;}
form.contact_form input.alert, textarea.alert {border:1px solid #00b5f8;}
form.contact_form input, textarea {background: #DDD; border:1px solid #BBB; color:#666;}
form.contact_form input:focus, textarea:focus	{background:#EEE;}
form.contact_form input	{padding: 5px; width:260px;  }
form.contact_form label	{padding:0 0 0 10px; }
form.contact_form textarea	{padding:8px; width:520px; }
form.contact_form #send	{width:70px; background:#00b5f8; font-weight:bold; cursor:pointer; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:13px; border:none;}

/* General Typography and Styles inside div.entry_content of post or page*/
#inner_content .entry .entry_content h1 { font-size:28px; letter-spacing:-1px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:30px 0 20px 0; color:#383838;}
#inner_content .entry .entry_content h1 a	{color:#383838;}
#inner_content .entry .entry_content h1 a:hover	{background:#00b5f8; color:#FFF; text-decoration:none;}
#inner_content .entry .entry_content h2 { font-size:24px; letter-spacing:-1px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:30px 0 20px 0; color:#383838;}
#inner_content .entry .entry_content h2 a	{color:#383838;}
#inner_content .entry .entry_content h2 a:hover	{background:#00b5f8; color:#FFF; text-decoration:none;}
#inner_content .entry .entry_content h3 { font-size:20px; letter-spacing:-1px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:30px 0 20px 0; color:#383838;}
#inner_content .entry .entry_content h3 a	{color:#383838;}
#inner_content .entry .entry_content h3 a:hover	{background:#00b5f8; color:#FFF; text-decoration:none;}
#inner_content .entry .entry_content h4 { font-size:16px; letter-spacing:-1px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:30px 0 20px 0; color:#383838;}
#inner_content .entry .entry_content h4 a	{color:#383838;}
#inner_content .entry .entry_content h4 a:hover	{background:#00b5f8; color:#FFF; text-decoration:none;}
#inner_content .entry .entry_content a	{color:#00b5f8; text-decoration:none;}
#inner_content .entry .entry_content a:hover	{text-decoration:underline;}
#inner_content .entry .entry_content acronym { cursor: help; border-bottom: 1px dotted; }
#inner_content .entry .entry_content code { margin: 10px 20px; padding: 20px; border: 1px solid #BBB; background: #DDD no-repeat 12px 12px; font-weight: normal; color:#666; display:block; overflow:auto; text-align:left; }
#inner_content .entry .entry_content blockquote { margin: 10px 20px; padding: 20px 10px 10px 20px; border: 1px solid #BBB; background: #DDD; font-weight: normal; color:#666; font-style:italic; }
#inner_content .entry .entry_content strong { font-weight: bold; }
#inner_content .entry .entry_content del	{text-decoration: line-through;}
#inner_content .entry .entry_content p	{margin:0 0 15px 0;}
#inner_content .entry .entry_content ul,ol	{margin:0 0 0 20px;}
#inner_content .entry .entry_content table {	border-collapse: collapse;	margin: 10px 0px; font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;	}
#inner_content .entry .entry_content tr { background: #DDD }
#inner_content .entry .entry_content tr:hover	{background:#EEE;}
#inner_content .entry .entry_content th, td { text-align: left; border-width: 1px; border-style: solid; }
#inner_content .entry .entry_content th { background-color: #00b5f8; padding: 10px 10px; border-color: #DDD; font-weight: bold; color: #FFF; }
#inner_content .entry .entry_content td { border-color: #BBB; padding: 10px 10px; }	
#inner_content .entry .entry_content img.float_left	{float:left; padding:0 15px 5px 0;}
