!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :dir => "ltr", :lang => "en-US" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8" }
    %title
      KuroAdmin &rsaquo; Password Recovery
    %link{ :rel => "stylesheet", :href => "css/login.css", :type => "text/css", :media => "all" }
    %link{ :rel => "stylesheet", :href => "css/form.css", :type => "text/css", :media => "all" }
    %script{ :type => "text/javascript", :src => "js/jquery.js" }
    %script{ :type => "text/javascript", :src => "js/jquery.curvycorners.js" }
    %script{ :type => "text/javascript", :src => "js/jquery.pngFix.js" }
    %script{ :type => "text/javascript" }
      $(document).ready(function(){
      \/* PNG fix */
      $(document).pngFix();
      \/* Round corner */
      $('.round').corner({
      tl: { radius: 5 },
      tr: { radius: 5 },
      bl: { radius: 5 },
      br: { radius: 5 }
      });
      });
  %body
    #login
      %h1
        %a{ :href => "#" }
          %img{ :src => "images/logo.png", :alt => "KuroAdmin" }
      %form.round{ :action => "#" }
        %ul
          %li
            %label
              E-Mail Address
            %div
              %input.text.max{ :type => "text", :name => "", :value => "" }
            %label.note
              A email wil be sent to your email address.
          %li
            %input#submit.button{ :type => "submit", :name => "submit", :value => "Send" }
            or
            %a{ :href => "login.html" }
              Return to Login
