#inner_content
  .entry
    .entry_content
      %h1
        About LifeForceTV.com
      %p
        LifeforceTV,
        %em
          Canada's Online Broadcast Network
        , is a distribution platform for original Canadian web series.
        Our goal is to provide interesting and entertaining content that can't be
        found on television or through traditional media. We program shows that are
        independently created and accessible whenever you want to watch them. With no
        restrictions, changes, or geo-blocking. Enjoy the shows and let us know how we
        can make the viewing experience better for you. After all, we're Canadian, we
        always aim to please.
      %p

        \-The LifeforceTV Team
    /
      END "entry_content"  //
  /
    END "entry"  //
/
  END "inner_content"  //
#sidebar_home
  .widget
    %h3.widget_title
      Add Your Show To Our Network
    .widget_content
      %p
        Do you have a Canadian web series that you'd like to add to the LifeforceTV network?
        We're currently accepting shows to come on as a content partner under a non-exclusive
        agreement.
      %p
        For more information on how to join the network, drop us a line at info@lifeforcetv.com

      %p
        \-The LifeforceTV Team
/
  END "sidebar_home"  //

