%h1
  Add Your Show
%p
  Do you have a Canadian web series that you'd like to add to the LifeforceTV network? We're currently accepting shows to come on as a content partner under a non-exclusive agreement.
%p
  For more information on how to join the network, drop us a line at info@lifeforcetv.com
