#inner_content
  .entry
    .entry_content
      %h1
        Advertising
      %p
        We currently offer a variety of opportunities for advertising looking for to
        reach unique audience. Whether it's in-video ads, banner ads, or full take
        over designs, we build to suit.
      %p
        Phone: 416-619-7785
        %br
        Email: ads@lifeforcetv.com

      %p
        \-The LifeforceTV Team
    /
      END "entry_content"  //
  /
    END "entry"  //
/
  END "inner_content"  //
#sidebar_home
  .widget{:style=>"text-align:center;"}
    = haml :'snippets/sidebar_300x300', :layout=>false
  .widget{:style=>"text-align:center;"}
    = haml :'snippets/sidebar_300x300', :layout=>false
/
  END "sidebar_home"  //
