%h1
  Advertising
%p
  We currently offer a variety of opportunities for advertising looking for to reach unique audience. Whether it's in-video ads, banner ads, or full take over designs, we build to suit.
%p
  Phone: 416-619-7785
  Email: ads@lifeforcetv.com
