#inner_content
  .entry
    .entry_content
      %h1
        Contact Us
      %p
        Have a question or comment about the network? Want to get in touch with us? Here's how.

      %h2
        Add Your Show To Our Network
      %p
        Do you have a Canadian web series that you'd like to add to the LifeforceTV network?
        We're currently accepting Canadian content partners under our non-exclusive
        agreement. Contact us to find out more.

      %form.contact_form{ :method => "post", :action => "send.php" }
        %p
          %input#name{ :type => "text", :name => "name" }
          %label{ :for => "name" }
            Your Name*
        %p
          %input#mail{ :type => "text", :name => "mail" }
          %label{ :for => "mail" }
            E-mail*
        %p
          %textarea#text{ :rows => "10", :name => "text", :cols => "10" }
        %p
          %input#send{ :type => "submit", :name => "send", :value => "Send" }
    /
      END "entry_content"  //
  /
    END "entry"  //
/
  END "inner_content"  //
#sidebar_home
  .widget
    %h3.widget_title
      Add Your Show To Our Network
    .widget_content
      %p
        Do you have a Canadian web series that you'd like to add to the LifeforceTV network?
        We're currently accepting shows to come on as a content partner under a non-exclusive
        agreement.
      %p
        For more information on how to join the network, drop us a line at info@lifeforcetv.com

      %p
        \-The LifeforceTV Team

  .widget{:style=>"text-align:center;"}
    %img{:src=>"/images/ex_ad_300x300.jpg"}
  /
    END "widget"  //
/
  END "sidebar_home"  //
/
  %h1
    Contact Us
  %p
    Have a question or comment about the network? Want to get in touch with us? Here's how.
  %p
    Lifeforce Entertainment Inc.
    80 Western Battery Road, Suite LPH08
    Toronto, Ontario, M6K 3S1
    Telephone: 416-619-7785
    Email: info@lifeforcetv.com
