- ff = "<a href='http://www.mozilla.com/?from=sfx&amp;uid=0&amp;t=572'><img src='http://sfx-images.mozilla.org/firefox/3.6/468x60_blue.png' alt='Spread Firefox Affiliate Button' border='0' /></a>"
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      404 - Page NOT FOUND
    %meta{ :name => "generator", :content => "IE NOT SUPPORTED" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "Keywords", :content => "IE NOT SUPPORTED" }
    %meta{ :name => "Description", :content => "IE NOT SUPPORTED" }
    %meta{ :name => "robots", :content => "all" }
    %link{ :rel => "stylesheet", :href => "/css/errors/style.css", :type => "text/css", :media => "screen" }
  %body
    /
      Wrapper Starts
    #wrapper

      #page-nf-wrap1
        = ff
        %p
          %span.green
            Oh No!
          , it appears you are using Internet Explorer. Due to the nature of our content we cannot
          support your browser type. All is not lost though, you can get Firefox and view this site 
          in all its video glory.
        
    /
      Wrapper Ends
