%h3
  Shows

#content_wrap
  #inner_content
    
    - shows.each do |show|
      = partial("showhighlight",{:show=>show})


  #sidebar_home
    - if search
      - search.sorted_notes.each do |note|
        = partial("widgit",{:note=>note.n})

  /
    END "sidebar_home"  //
/
  END "content_wrap"  //
