#title.round
  %h1
    Dashboard
  %span.right
    This is where you start
#content
  #content-container

    .box.round

      What would you like to do?

      %ul
        %li
          %a{:href=>to_path('/shows')}
            Manage Shows
