!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :dir => "ltr", :lang => "en-US" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8" }
    %title
      $SITE_NAME &rsaquo; Administration
    %link{ :rel => "stylesheet", :href => to_path("/css/style.css"), :type => "text/css", :media => "all" }
    %link{ :rel => "stylesheet", :href => to_path("/css/navigation.css"), :type => "text/css", :media => "all" }
    %link{ :rel => "stylesheet", :href => to_path("/css/form.css"), :type => "text/css", :media => "all" }
    %link{ :rel => "stylesheet", :href => to_path("/css/table.css"), :type => "text/css", :media => "all" }
    %link{ :rel => "stylesheet", :href => to_path("/jquery-ui-1.7.2.custom/css/ui-darkness/jquery-ui-1.7.2.custom.css"), :type => "text/css", :media => "all" }
    %script{ :type => "text/javascript", :src => to_path("/js/minmax.js") }
    %script{ :type => "text/javascript", :src => to_path("/js/jquery.js") }
    %script{ :type => "text/javascript", :src => to_path("/js/jquery.droppy.js") }
    %script{ :type => "text/javascript", :src => to_path("/js/jquery.curvycorners.js") }
    %script{ :type => "text/javascript", :src => to_path("/js/jquery.pngFix.js") }
    %script{ :type => "text/javascript", :src => to_path("/js/jquery.idTabs.js") }
    %script{ :type => "text/javascript", :src => to_path("/jquery-ui-1.7.2.custom/js/jquery-ui-1.7.2.custom.min.js") }
    %script{ :type => "text/javascript" }
      $(document).ready(function(){
      \/* Navigation */
      $('#navigation').droppy({
      \/* dropdown speed */
      speed: 10
      });
      \/* PNG fix */
      $(document).pngFix();
      \/* Round corner */
      $('.round').corner({
      \/* top left */
      tl: { radius: 5 },
      \/* top right */
      tr: { radius: 5 },
      \/* bottom left */
      bl: { radius: 5 },
      \/* bottom right */
      br: { radius: 5 }
      });
      });
  %body
    #content-wrapper
      #header
        %h1
          %a{ :href => "#" }
            %img{ :src => to_path("/images/logo.png"), :alt => "#{$SITE_NAME} Administration" }
        #global_nav
          %ul
            %li
              Welcome
              %a{ :href => "#" }
                ne-design
            %li
              %a{ :href => "#" }
                Settings
            %li.last
              %a{ :href => "#" }
                Log Out
      = nav_menu

      #main-body-content
        = yield

      #footer
        %p.left
          \&copy; Copyright
          = $SITE_NAME
          2009
        %p.right
          %a{ :href => "#" }
            Dashboard
          |
          %a{ :href => "#" }
            Clients
          |
          %a{ :href => "#" }
            Reports
          |
          %a{ :href => "#" }
            System
