!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %script{ :type => "text/javascript", :src => "http://code.jquery.com/jquery-latest.js" }
    /
      [if lt IE 7.]>
      <script ype="text/javascript" src="js/DD_belatedPNG.js"></script>
      <script>
      DD_belatedPNG.fix('#search input.field, #search input.field:focus, #featured_home .bigimg .post_category a,#featured_home .bigimg .post_name a, #message_buttons .button2 a, #message_buttons .button2 a:hover, #inner_content .date, img');
      </script>
      <![endif]
    %script{ :src => "/js/dropdown.js", :type => "text/javascript" }
    %script{ :src => "/js/jquery.prettyPhoto.js", :type => "text/javascript", :charset => "utf-8" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
    %link{ :rel => "stylesheet", :href => "/css/prettyPhoto.css", :type => "text/css", :media => "screen", :charset => "utf-8" }
    %title
      LondonCreative+
  %body
    #wrapper
      #border_top
      /
        END "border_top"  //
      #header.clearfix
        #logo
          %a{ :href => "index.php" }
            %img#lclogo{ :src => "/images/logo.png", :alt => "LondonCreative+" }
        /
          END "logo"  //
        #header_contacts
          phone: +420 776 223 443
          %br
          e-mail: support@londoncreative.co.uk
      /
        END "header"  //
      #container.clearfix
        #toppanel.clearfix
          #navigation
            %ul
              %li
                %a.main_category{ :href => "index.php" }
                  Home
              %li
                %a.main_category{ :href => "theme_description.html" }
                  About
                %ul
                  %li
                    %a{ :href => "testpage.html" }
                      HTML Test Page
                  %li
                    %a{ :href => "theme_description.html" }
                      Theme Description
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                    %ul
                      %li
                        %a{ :href => "#" }
                          Dropdown Test
                        %ul
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                        /
                          END dropdown level 3  //
                      %li
                        %a{ :href => "#" }
                          Dropdown Test
                        %ul
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                          %li
                            %a{ :href => "#" }
                              Dropdown Test
                        /
                          END dropdown level 3  //
                      %li
                        %a{ :href => "#" }
                          Dropdown Test
                    /
                      END dropdown level 2  //
                /
                  END dropdown level 1  //
              %li
                %a.main_category{ :href => "portfolio.html" }
                  Portfolio
                %ul
                  %li
                    %a{ :href => "portfolio.html" }
                      Web design
                  %li
                    %a{ :href => "portfolio.html" }
                      Print Design
                  %li
                    %a{ :href => "portfolio.html" }
                      Corporate Identity
                  %li
                    %a{ :href => "portfolio.html" }
                      Branding
                  %li
                    %a{ :href => "portfolio.html" }
                      Advertising
                /
                  END dropdown level 1  //
              %li.active
                %a.main_category{ :href => "blog.html" }
                  Blog
              %li
                %a.main_category{ :href => "contact.php" }
                  Contact
            /
              END for whole navigation UL  //
          /
            END "navigation"  //
          #search
            %form#searchform{ :action => "###", :method => "get" }
              %input#s.field{ :type => "text", :onblur => "if (this.value == '') {this.value = 'Enter keywords...';}", :onfocus => "if (this.value == 'Enter keywords...') {this.value = '';}", :value => "Enter keywords...", :name => "s" }
              %input.submit{ :type => "submit", :name => "submit", :value => "Search" }
          /
            END "search"  //
        /
          END "toppanel"  //
        #content_wrap
          #inner_content
            .entry
              %a{ :href => "#" }
                %img{ :src => "/images/postimg1.jpg", :alt => "postimg1" }
              .date.clearfix
                .date_holder
                  %span.month
                    Dec
                    %span.year
                      2009
                  %span.day
                    23
                /
                  END "date_holder"  //
              /
                END "date"  //
              .title_holder
                %h1
                  %a.title{ :href => "#" }
                    Lost Behind Alice In Wonderland
                  %a.comment_counter{ :href => "###" }
                    3
                %h3
                  Posted In
                  %span
                    %a{ :href => "#" }
                      Articles
                    ,
                    %a{ :href => "#" }
                      Music
              /
                END "title_holder"  //
              .entry_content
                %p
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that good [..]
              /
                END "entry_content"  //
            /
              END "entry"  //
            .entry
              %a{ :href => "#" }
                %img{ :src => "/images/postimg2.jpg", :alt => "postimg2" }
              .date.clearfix
                .date_holder
                  %span.month
                    Sep
                    %span.year
                      2009
                  %span.day
                    17
                /
                  END "date_holder"  //
              /
                END "date"  //
              .title_holder
                %h1
                  %a.title{ :href => "#" }
                    My New Digital Camera Joko VFX-5000
                  %a.comment_counter{ :href => "###" }
                    52
                %h3
                  Posted In
                  %span
                    %a{ :href => "#" }
                      Articles
                    ,
                    %a{ :href => "#" }
                      Music
              /
                END "title_holder"  //
              .entry_content
                %p
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that good [..]
              /
                END "entry_content"  //
            /
              END "entry"  //
            .entry
              %a{ :href => "#" }
                %img{ :src => "/images/postimg3.jpg", :alt => "postimg3" }
              .date.clearfix
                .date_holder
                  %span.month
                    Sep
                    %span.year
                      2009
                  %span.day
                    09
                /
                  END "date_holder"  //
              /
                END "date"  //
              .title_holder
                %h1
                  %a.title{ :href => "#" }
                    My New Digital Camera Joko VFX-5000
                  %a.comment_counter{ :href => "###" }
                    24
                %h3
                  Posted In
                  %span
                    %a{ :href => "#" }
                      Articles
                    ,
                    %a{ :href => "#" }
                      Music
              /
                END "title_holder"  //
              .entry_content
                %p
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that good [..]
              /
                END "entry_content"  //
            /
              END "entry"  //
            .wp-pagenavi
              %span.pages
                Page 1 of 78
              %span.current
                1
              %a.page{ :href => "##", :title => "2" }
                2
              %a.page{ :href => "###", :title => "3" }
                3
              %a.page{ :href => "####", :title => "4" }
                4
              %a.page{ :href => "#####", :title => "5" }
                5
              %a.page{ :href => "######", :title => "6" }
                6
              %a.page{ :href => "#######", :title => "7" }
                7
              %a.page{ :href => "########", :title => "8" }
                8
              %a{ :href => "#########" }
                \&raquo;
              %span.extend
                \...
              %a.last{ :href => "###", :title => "&raquo;&raquo;" }
                \&raquo;&raquo;
            /
              END "wp-pagenavi"  //
          /
            END "inner_content"  //
          #sidebar_home
            .widget
              %h3.widget_title
                This is a text widget
              .widget_content
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less...
              /
                END "widget_content"  //
            /
              END "widget"  //
            .widget
              %h3.widget_title
                Categories
              .widget_content
                %ul.widget_ul
                  %li
                    %a{ :href => "#" }
                      Articles
                  %li
                    %a{ :href => "#" }
                      Music
                  %li
                    %a{ :href => "#" }
                      Photography
                  %li
                    %a{ :href => "#" }
                      Collections
                  %li
                    %a{ :href => "#" }
                      World News
                  %li
                    %a{ :href => "#" }
                      Wordpress
                  %li
                    %a{ :href => "#" }
                      Hobbies
                  %li
                    %a{ :href => "#" }
                      Inspiration
                  %li
                    %a{ :href => "#" }
                      Collections
                  %li
                    %a{ :href => "#" }
                      Photography
                  %li
                    %a{ :href => "#" }
                      Music
              /
                END "widget_content"  //
            /
              END "widget"  //
            .widget
              %h3.widget_title
                Recent Posts
              .widget_content
                %ul.widget_ul
                  %li
                    %a{ :href => "#" }
                      About our Inspiration
                  %li
                    %a{ :href => "#" }
                      My favourite Music
                  %li
                    %a{ :href => "#" }
                      My new Photographs
                  %li
                    %a{ :href => "#" }
                      Personal Collections
                  %li
                    %a{ :href => "#" }
                      Yesterday in News
                  %li
                    %a{ :href => "#" }
                      I love Wordpress
                  %li
                    %a{ :href => "#" }
                      Meet my Hobbies
                  %li
                    %a{ :href => "#" }
                      How to cook chicken
                  %li
                    %a{ :href => "#" }
                      My favourite Music
                  %li
                    %a{ :href => "#" }
                      My new Photographs
                  %li
                    %a{ :href => "#" }
                      Personal Collections
                  %li
                    %a{ :href => "#" }
                      Yesterday in News
              /
                END "widget_content"  //
            /
              END "widget"  //
          /
            END "sidebar_home"  //
        /
          END "content_wrap"  //
      /
        END "container"  //
      #footer.clearfix
        #footer_left
          © Copyright 2009 by LondonCreative+
        #footer_right
          %a{ :href => "index.php" }
            %img{ :src => "/images/logo_footer.png", :alt => "Logo" }
        #footer_bottom
      /
        END "footer"  //
    /
      END "wrapper"  //
    /
      Initialize PrettyPhoto JS Plugin  //
    %script{ :type => "text/javascript", :charset => "utf-8" }
      $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
      });
    /
      END PrettyPhoto Initialization  //
