.entry
  %a{ :href => "#" }
    %img{ :src => "/images/postimg1.jpg", :alt => "postimg1" }
  .date.clearfix
    .date_holder
      %span.new_episode_label
        New Episode
      %span.month
        Dec
        %span.year
          2009
      %span.day
        23
    /
      END "date_holder"  //
  /
    END "date"  //
  .title_holder
    %h1
      %a.title{ :href => "#" }
        Lost Behind Alice In Wonderland
      %a.comment_counter{ :href => "###" }
        3
    %h3
      Posted In
      %span
        %a{ :href => "#" }
          Articles
        ,
        %a{ :href => "#" }
          Music
  /
    END "title_holder"  //
  .entry_content
    %p
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that good [..]
  /
    END "entry_content"  //
/
  END "entry"  //
