#navigation
  /
    %ul
      %li.active
        %a.main_category{ :href => "index.php" }
          Home
      %li
        %a.main_category{ :href => "theme_description.html" }
          About
        %ul
          %li
            %a{ :href => "testpage.html" }
              HTML Test Page
          %li
            %a{ :href => "theme_description.html" }
              Theme Description
          %li
            %a{ :href => "#" }
              Dropdown Test
            %ul
              %li
                %a{ :href => "#" }
                  Dropdown Test
                %ul
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                /
                  END dropdown level 3  //
              %li
                %a{ :href => "#" }
                  Dropdown Test
                %ul
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                  %li
                    %a{ :href => "#" }
                      Dropdown Test
                /
                  END dropdown level 3  //
              %li
                %a{ :href => "#" }
                  Dropdown Test
            /
              END dropdown level 2  //
        /
          END dropdown level 1  //
      %li
        %a.main_category{ :href => "portfolio.html" }
          Portfolio
        %ul
          %li
            %a{ :href => "portfolio.html" }
              Web design
          %li
            %a{ :href => "portfolio.html" }
              Print Design
          %li
            %a{ :href => "portfolio.html" }
              Corporate Identity
          %li
            %a{ :href => "portfolio.html" }
              Branding
          %li
            %a{ :href => "portfolio.html" }
              Advertising
        /
          END dropdown level 1  //
      %li
        %a.main_category{ :href => "blog.html" }
          Blog
      %li
        %a.main_category{ :href => "contact.php" }
          Contact
    /
      END for whole navigation UL  //
/
  END "navigation"  //
