.wp-pagenavi
  %span.pages
    Page 1 of 78
  %span.current
    1
  %a.page{ :href => "##", :title => "2" }
    2
  %a.page{ :href => "###", :title => "3" }
    3
  %a.page{ :href => "####", :title => "4" }
    4
  %a.page{ :href => "#####", :title => "5" }
    5
  %a.page{ :href => "######", :title => "6" }
    6
  %a.page{ :href => "#######", :title => "7" }
    7
  %a.page{ :href => "########", :title => "8" }
    8
  %a{ :href => "#########" }
    \&raquo;
  %span.extend
    \...
  %a.last{ :href => "###", :title => "&raquo;&raquo;" }
    \&raquo;&raquo;
/
  END "wp-pagenavi"  //
