#message_buttons
  .button1
    %a{ :href => "/shows" }
      Find shows to watch
  .button2
    %a{ :href => "#" }
      Info
/
  END "message_buttons"  //
#content_wrap
  #inner_content
    - showcase_shows = default_showcase.sorted_shows
    - showcase_shows.each do |show_showcase|
      = partial("showhighlight",{:show=>show_showcase.s})

  
  #sidebar_home
    - default_showcase.sorted_notes.each do |note|
      = partial("widgit",{:note=>note.n})

  /
    END "sidebar_home"  //
/
  END "content_wrap"  //
