.widget
  %h3.widget_title
    Informations about this theme
  .widget_content
    %img{ :src => "/images/screen_widget.jpg", :alt => "Screenshot", :style => "float:left; margin:0 10px 2px 0;" }
    %p
      This is a text widget. You can have them as many as you like.
      %br
      %br
      This theme comes with fully working contact form, awesome slider for your featured images, nasty spinning slider buttons (never saw them anywhere else, so you can call it unique), 2 message buttons under the slider, PrettyPhoto plugin (better clone of Lightbox).
      %br
      %br
      You will also have user-friendly dropdown navigation with infinite dropdown levels where you can style every even list item via Jquery, so no more hassle, it's automatic, you can just change the colors etc. in stylesheet and you are ready to go!
  /
    END "widget_content"  //
/
  END "widget"  //
