#inner_content
  .entry
    .entry_content
      %h1
        Contact Us
      %p
        Have a question or comment about the network? Want to get in touch with us? Here's how.

      %h2
        Add Your Show To Our Network
      %p
        Do you have a Canadian web series that you'd like to add to the LifeforceTV network?
        We're currently accepting Canadian content partners under our non-exclusive
        agreement. Contact us to find out more.

      %form.contact_form{ :method => "post", :action => "send.php" }
        %p
          %input#name{ :type => "text", :name => "name" }
          %label{ :for => "name" }
            Your Name*
        %p
          %input#mail{ :type => "text", :name => "mail" }
          %label{ :for => "mail" }
            E-mail*
        %p
          %textarea#text{ :rows => "10", :name => "text", :cols => "10" }
        %p
          %input#send{ :type => "submit", :name => "send", :value => "Send" }
    /
      END "entry_content"  //
  /
    END "entry"  //
/
  END "inner_content"  //
#sidebar_home
  .widget
    %h3.widget_title
      About LifeForceTV.com
    .widget_content
      %img{ :src => "/images/screen_widget.jpg", :alt => "Screenshot", :style => "float:left; margin:0 10px 2px 0;" }
      %p
        LifeforceTV is Canada's online broadcast network, where distribute Canadian made web series from content creators throughout the country. Our goal is to prove that high quality, professionally produced content, goes beyond the television set, and onto the fastest growing medium of our generation; the Internet. We play shows that we want to watch. Shows that are fun, loose, educational, and funny. LifeforceTV is our new media alternative to traditional broadcast, and we're happy you're here to check it out. Leave a comment, post in the forum, and let us know how we can make your user experience here better.
        %br
        Enjoy the Shows!
        %br
        %br
        \- The LifeforceTV Team 
    /
      END "widget_content"  //
  /
    END "widget"  //
/
  END "sidebar_home"  //
/
  %h1
    Contact Us
  %p
    Have a question or comment about the network? Want to get in touch with us? Here's how.
  %p
    Lifeforce Entertainment Inc.
    80 Western Battery Road, Suite LPH08
    Toronto, Ontario, M6K 3S1
    Telephone: 416-619-7785
    Email: info@lifeforcetv.com
